
  /* Header.module.css */

/* Style global du header */
.header {
    background-color: #343a40; /* Fond sombre pour le header */
    padding: 15px 0;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .navbar {
    background-color: transparent;
  }
  
  .navbarBrand {
    font-size: 1.5rem;
    color: #ffffff; /* Texte blanc pour le logo */
  }
  
  .navLink {
    color: #f8f9fa; /* Couleur claire pour les liens */
    transition: color 0.3s ease;
  }
  
  .navLink:hover {
    color: #007bff; /* Couleur d'accent sur hover */
  }
  
  .profileContainer {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .profileIcon {
    font-size: 1.5rem;
    transition: color 0.3s ease;
    color: #ffffff; /* Texte du profil blanc */
  }
  
  .profileIcon:hover {
    color: #007bff; /* Couleur d'accent sur hover */
  }
  
  .formGroup {
    margin-top: 20px;
  }
  
  .formControl {
    border-radius: 25px;
    padding-left: 15px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    background-color: #f8f9fa; /* Fond clair pour les champs de recherche */
    color: #495057; /* Texte sombre pour une meilleure lisibilité */
  }
  
  .formControl:focus {
    border-color: #007bff;
    box-shadow: 0px 0px 8px rgba(0, 123, 255, 0.5);
  }
  
  .formLabel {
    color: #ffffff; /* Texte blanc pour les labels */
  }
  
  .formSelect {
    border-radius: 25px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    background-color: #f8f9fa;
    color: #495057;
  }
  
  .formSelect:focus {
    border-color: #007bff;
    box-shadow: 0px 0px 8px rgba(0, 123, 255, 0.5);
  }
  
  @media (max-width: 767px) {
    .navbar-collapse {
      text-align: center;
    }
  
    .formControl {
      width: 100%;
      margin-top: 10px;
    }
  
    .sortGroup {
      flex-direction: column;
      align-items: flex-start;
    }
  }
  